.wrap_search_option {
    position: relative;
    display: flex;
    margin-top: 10px;
    padding: 10px ;
    background-color: $search_bg;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    flex-wrap: wrap;

    .wrap_uio {
        width: 33.33%;
        padding: 5px 20px;
        box-sizing: border-box;

        > select, > input {
            max-width: 200px;
        }

        > label {
            max-width: 100px;
            text-align: right;
            color: #fff;
        }

        &:last-of-type {
            > select {
                max-width: 100px;
            }
        }
    }

    .btn_search {
        position: absolute;
        bottom: 15px;
        right: 20px;
        width: 100px;
        height: 25px;
        border: 0;
        border-radius: 4px;
        background-color: #fff;
        color: $search_bg;
        font-size: 14px;
    }   
}