<div class="pagenation" id="pagination">
    <ul class="list_pages">
        <li class="first" fnname="selectList">
            <a href="#" class="link"><span class="material-icons">chevron_left</span></a>
        </li>
        <li class="prev" fnname="selectList">
            <a href="#" class="link"><span class="material-icons">first_page</span></a>
        </li>
        <li class="current" fnname="selectList">
            <a href="#" class="link">1</a>
        </li>
        <li class="num" fnname="selectList">
            <a href="#" class="link">2</a>
        </li>
        <li class="num" fnname="selectList">
            <a href="#" class="link">3</a>
        </li>
        <li class="num" fnname="selectList">
            <a href="#" class="link">4</a>
        </li>
        <li class="num" fnname="selectList">
            <a href="#" class="link">5</a>
        </li>
        <li class="next" fnname="selectList">
            <a href="#" class="link"><span class="material-icons">chevron_right</span></a>
        </li>
        <li class="last" fnname="selectList">
            <a href="#" class="link"><span class="material-icons">last_page</span></a>
        </li>
    </ul>
</div>