{%- macro selectbox(label="", id="sb", name="name", options="") %}
<div class="wrap_uio sb">
    {% if label=="" -%}
    {%- else -%}
        <label for="{{ id }}">{{ label }}</label>
    {%- endif %}
    <select id="{{ id }}" name="{{ name }}" vaule="선택">
        {% for option in options -%}
            <option>{{ option }}</option>
        {%- endfor %}
    </select>
</div>
{% endmacro -%}

{%- macro inputType(type="text", label="", id="sb", name="name", search) %}
    {% if type=="checkbox" -%}
        <div class="wrap_uio cb">
    {%- elif type=="radio" -%}
        <div class="wrap_uio rd">
    {%- else -%}
        <div class="wrap_uio">
    {%- endif %}
    
    {% if label=="" -%}
    {%- else -%}
        <label for="{{ id }}">{{ label }}</label>
    {%- endif %}
        <input type="{{ type }}" id="{{ id }}" name="{{ name }}" />

    {% if search==true -%}
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
            <span class="blind">검색</span>
        </button>
    {%- else -%}
    {%- endif %}
    </div>
{% endmacro -%}

{%- macro textareaShowType(label="라벨내용", id="id", name="name", disabled=true, value="") %}
<div class="wrap_uio show_text_area">
    <label for="{{ id }}">{{ label }}</label>
    <textarea id="{{ id }}" name="{{ name }}" disabled={{ disabled }} />{{ value }}</textarea>
</div>
{% endmacro -%}

{%- macro inputShowType(label="라벨내용", id="id", name="name", disabled=true, value="") %}
<div class="wrap_uio show_text">
    <label for="{{ id }}">{{ label }}</label>
    <input type="text" id="{{ id }}" name="{{ name }}" disabled={{ disabled }} value="{{ value }}" />
</div>
{% endmacro -%}

{%- macro btn(type="button", width="", value="버튼", class="", disabled) %}
{% if disabled==true -%}
    <button type="{{ type }}" class="{{ class }}" style="width: {{ width }}" disabled>{{ value }}</button>
{%- else -%}
    <button type="{{ type }}" class="{{ class }}" style="width: {{ width }}" >{{ value }}</button>
{%- endif %}
{% endmacro -%}
