<header>
    <h1 class="logo">
        <a href="#" class="link" style="background-image: url(./../../img/logo.png)">
            <span class="blind">용산구 YOUTH 통합플랫폼"</span>
        </a>
    </h1>
    <!-- [D] 메뉴 오픈 시, fold 클래스 제거, aria-expanded="true" 로 변경-->
    <button class="btn_menu" type="button" aria-expanded="true">
        <span class="blind">메뉴</span>
    </button>
    <div class="tool_box">
        <!-- [D] 알림 표시 노출 시, on 클래스 추가 -->
        <a href="#" class="on"><span class="blind">메일</span><span class="material-icons-outlined">mail</span></a>
        <button type="button" class="btn_alert on"><span class="blind">알림</span><span class="material-icons-outlined">notifications</span></button>
    </div>
    <a href="#" class="header_profile">
        <img src="https://lh3.googleusercontent.com/P8iszSIOvGKrqWYo_DYebQ5FnxH1IbgumJX0hkEGYdEoH98cJFsP8j4y8Z49HpL_KqzYkEoy394QZ2q7MpCJsHPIXA" alt="프로필 사진" width="40" height="40">
        <div class="info">
            <div class="name">홍길동</div>
            <div class="group">수퍼관리자/용산구청소년센터</div>
        </div>
    </a>
</header>