<header>
    <h1 class="logo">
        <a href="#" class="link" style="background-image: url(./../../img/logo.png)">
            <span class="blind">용산구 YOUTH 통합플랫폼"</span>
        </a>
    </h1>
</header>