@font-face {
    font-family: "SCDream4";
    src: url("../font/SCDream4.woff");
    src: url("../font/SCDream4.woff") format("woff");
}

@font-face {
    font-family: "SCDream4";
    src: url("../font/SCDream5.woff");
    src: url("../font/SCDream5.woff") format("woff");
    font-weight: bold;
}