// color 정의
$nav_bg: rgb(31, 54, 58);
$nav_sub: rgb(67, 129, 139);
$search_bg: rgb(72, 162, 214);
$status_approval: rgb(119, 224, 105);
$status_disabled: rgb(172, 172, 172);

// size 정의
$labelFontSize: 12px;
$labelLineHeight: 25px;

$sizeInputText: 25px;
$sizeSelect: 25px;
$sizeSearchBtn: 25px;
$sizeCb: 16px;
$sizeTableCellHeight: 20px;