// color 정의
$navy: #101C40;
$navy_20: #1B2440;
$navy_40: #415183;
$navy_60: #416CA6;

$blue: #38a8dc;
$deep_blue: #0288d1;
$gray_blue_80: #f0f2f5;

$half_section_top: #d9e0e8;
$table_border: #e3e3e3;
$table_title_cell: #f7f7f7;
$table_select_cell: #f1f1f1;

$red: #F22929;
$red_20: #f15151;
$red_40: #fc7c7c;
$red_60: #F2A7A7;
$red_80: #ffd3d3;

$pink: #e53371;

$green_20: #00d471;
$green_40: #2df196;
$green_60: #53ff95;

$yellow: #F2A007;
$yellow_20: #F2B807;
$yellow_40: #F2CB05;

$gray: #2a2a33;
$gray_10: #464646;
$gray_15: #404047;
$gray_20: #696969;
$gray_40: #888888;
$gray_80: #e4e4e4;

// size 정의
$labelFontSize: 12px;
$labelLineHeight: 25px;

$sizeInputText: 25px;
$sizeSelect: 25px;
$sizeSearchBtn: 25px;
$sizeCb: 16px;
$sizeTableCellHeight: 20px;