<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {%- block header %}
            header
        {%- endblock %}
        <section class="left">
            {%- block left %}
                left block
            {%- endblock %}
        </section>
        <section class="right">
            {%- block right %}
                right block
            {%- endblock %}
            {% include "./include/test_include.njk" %}
        </section>
        <footer>test</footer>
    </body>
</html>