{% extends "./__layout/layout.njk"%}
{% import "./__common/__uio.njk" as ui %}

{% block style %}
.wrap_uio {
    margin-top: 10px;
}

.content {
    background-color: #fff;
}
{% endblock %}

{% block contents %}
    <h2>UI모음</h2>

    <!-- Selectbox -->
    <div class="wrap_ui">
        {{- ui.selectbox(
            label = "라벨영역",
            id = "sb",
            name = "sb",
            options = ["테스트", "테스트2"]
        )-}}
    </div>

    <!-- Search -->
    <div class="wrap_ui">
        {{- ui.search(
            label = "콘텐츠명",
            id = "search",
            name = "search"
        )-}}
    </div>

    <!-- input Text -->
    <div class="wrap_ui">
        {{- ui.inputText(
            label = "제목",
            id = "text",
            name = "text"
        )-}}
    </div>

    {%- include "./__common/__pagenation.njk" %}
{% endblock %}