{% extends "./__layout/layout.njk"%}
{% import "./__common/__uio.njk" as ui %}

{% block style %}
.wrap_uio {
    margin-top: 10px;
}

.content {
    background-color: #fff;
}
{% endblock %}

{% block contents %}
    <h2>UI모음</h2>

    <!-- Selectbox -->
    <div class="wrap_ui">
        {{- ui.selectbox(
            "",
            "sb",
            "sb",
            ["테스트", "테스트2"]
        )-}}
    </div>

    <!-- Search -->
    <div class="wrap_ui">
        {{- ui.search(
            "콘텐츠명",
            "search",
            "search"
        )-}}
    </div>

    <!-- input Text -->
    <div class="wrap_ui">
        {{- ui.inputText(
            "제목",
            "text",
            "text"
        )-}}
    </div>

    {%- include "./__common/__pagenation.njk" %}
{% endblock %}