html, body, .wrap {
    height: 100%;
}

body {
    font-family: SCDream4, serif;
}

.container {
    display: flex;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}