nav {
    width: 250px;
    padding: 20px 0;
    background-color: $navy;
    box-sizing: border-box;
    flex-shrink: 0;
}

.list_gnb {
    background-color: $navy;
    color: #fff;
    font-size: 15px;

    .item_gnb {
        &:hover, &.active {
            background-color: $navy_20;

            .inner_gnb {
                display: block;
            }
        }

        .btn_gnb {
            display: block;
            padding: 0 20px;
            height: 50px;
            line-height: 50px;
            
            .material-icons {
                margin: 13px 10px 0 0;
                vertical-align: top;
            }
        }
    }
}


.inner_gnb {
    display: none;
    background-color: $navy_60;
    font-size: 13px;
    line-height: 45px;

    .list_sub_title {
        display: block;
        padding: 0 20px 0 35px;
        background-color: $navy_40;
    }

    .list_sub {
        .item_sub {
            font-size: 13px;

            .link {
                padding: 0 20px 0 50px;
                &::before {
                    padding-right: 3px;
                    content: '-';
                }
                display: block;
            }

            &:hover, &.active {
                color: $yellow_40;
            }
        }
    }
}