.pagenation {
    display: flex;
    margin-top: 20px;
    justify-content: center;

    .list_pages {
        display: flex;
        margin: 0 25px;
        font-size: 12px;
        line-height: 25px;
        text-align: center;

        > li {
            margin: 0 2px;
            .link:hover {
                background-color: $blue_40;
                border-color: $blue_40;
                color: #fff;
            }
        }

        > li.current {
            .link {
                background-color: $blue_40;
                border-color: $blue_40;
                color: #fff;
            }
        }

        .link {
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 1px solid #ccc;
            vertical-align: top;

            .material-icons {
                font-size: 12px;
            }
        }

        .first, .prev, .next, .last {
            .link .material-icons {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}