.wrap_table {
    table {
        width: 100%;
        border: 1px solid $gray_40;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 13px;

        th, td {
            border: 1px solid $gray_40;
            padding: 10px 5px;
            height: 10px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    table.smart_content_board {
        margin-top: 5px;

        th {
            background-color: $gray_80;
        }

        td:nth-of-type(6) {
            text-align: left;
        }
    }

    table.smart_content_list {
        font-size: 12px;

        th {
            background-color: $gray_80;
            color: $blue_40;
        }

        .label_status {
            display: inline-block;
            padding: 4px;
            background-color: $green_20;
            border-radius: 2px;
            vertical-align: top;

            &.disabled {
                background-color: $gray_40;
            }
        }
    }

    .option_table {
        display: flex;
        margin-top: 20px;
        align-items: flex-end;
        justify-content: space-between;

        .info {
            display: flex;
            font-size: 12px;
            align-items: flex-end;
            line-height: 18px;

            .highlight {
                font-weight: bolder;
                color: $navy_40;
            }
        }

        .wrap_uio.sb {
            margin-left: 10px;

            > select {
                height: 18px;
                margin-right: 3px;
            }
        }

        .control {
            .del, .add {
                display: inline-block;
                width: 70px;
                height: 25px;
                border: 0;
                border-radius: 4px;
                color: #fff;
                font-size: 12px;
                line-height: 25px;
                text-align: center;
                vertical-align: top;
            }

            .del {
                background-color: $red_40;
            }

            .add {
                background-color: $blue_40;
            }
        }
    }

    .class_teaching_list {
        font-size: 12px;

        th {
            background-color: #dfdfdf;
            color: $blue_40;
        }
    }

    .typeA {
        tbody tr.on {
            background-color: $red_80;
        }
    }

    .typeB {
        tbody tr.on {
            background-color: $blue_60;
        }
    }
}
