.wrap_uio {
    display: flex;
    position: relative;
    font-size: $labelFontSize;
    height: inherit;
    line-height: inherit;

    > label {
        margin-right: 10px;
        width: 20%;
        text-align: right;
        flex-shrink: 0;
        line-height: $labelLineHeight;

        &:empty {
            display: none;
        }
    }

    > select {
        cursor: pointer;
        height: $sizeSelect;
        border: 1px solid #ccc;
        flex: 1;
    }

    > input[type="text"] {
        height: $sizeInputText;
        border: 1px solid #ccc;
        flex: 1;
        padding: 4px;
        box-sizing: border-box;
    }

    
    > input[type="text"] + button {
        width: $sizeSearchBtn;
        height: $sizeSearchBtn;
        margin-left: 4px;
        flex: 0;
        cursor: pointer;
    }

    &.file {
        > .file_name {
            display: inline-block;
            height: 23px;
            padding: 0 10px;
            border: 1px solid $gray_40;
            color: #999999;
            line-height: 23px;
            vertical-align: top;
            flex: 1;
        }

        > input[type="file"] {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            overflow: hidden;
            border: 0;
        }

        > label {
            display: inline-block;
            height: 25px;
            margin: 0 0 0 4px;
            background-color: $gray_40;
            text-align: center;
            color: #fff;
            vertical-align: top;
        }

        > .label {
            margin-right: 10px;
            width: 15%;
            text-align: right;
            flex-shrink: 0;
            line-height: 25px;
        }
    }

    > button {
        border: 0;
    }

    &.cb, &.rd {
        label {
            width: auto;
            margin-right: 4px;

            & + input[type="checkbox"], & + input[type="radio"] {
                margin-top: calc(($sizeInputText - $sizeCb)/2);
            }
        }

        input[type="checkbox"], input[type="radio"] {
            width: $sizeCb;
            height: $sizeCb;
        }
    }

    &.show_text, &.show_text_area {
        flex-direction: column;
        
        label {
            width: 100%;
            text-align: left;
            white-space: nowrap;
        }
    }

    &.show_text {
        input[type="text"]:disabled {
            background-color: #ddd;
        }
    }

    &.show_text_area {
        textarea {
            border-color: #ccc;
            padding: 5px;
            resize: none;
            height: 80px;
        }
    }
}